<div id="content">
  <header>
    <h1>{{title}}</h1>
  </header>
  <section class="main">
    <ul id="frameworks">
      <li><a href="/framework/angularjs">AngularJS - Todos</a></li>
      <li><a href="/framework/react">React - Todos</a></li>
      <li><a href="/framework/vue">Vue - Todos</a></li>
    </ul>
  </section>
</div>
